# Force npm to run node-gyp with python3
python=/usr/bin/python3

# Disable optional dependencies
omit=optional

# Increase network timeout
network-timeout=100000

# Use legacy peer deps to avoid issues
legacy-peer-deps=true
